html {
  background: #223;
}

.bg-a {
  display: block;
  font-size: 52px;
  color: transparent;
}

.bg-a::before,
.bg-a::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: '.';
  mix-blend-mode: screen;
  animation: 86s -27s move infinite ease-in-out alternate;
}

.bg-a::before {
  text-shadow: 1.4966364603em 2.4921758158em 7px rgba(13, 0, 255, 0.9),
    0.4762629282em 0.4908175474em 7px rgba(97, 0, 255, 0.9),
    0.4895358301em 2.3058724431em 7px rgba(13, 0, 255, 0.9),
    1.2964280323em 1.6801325897em 7px rgba(0, 185, 255, 0.9),
    -0.436698363em 1.2567106865em 7px rgba(0, 255, 178, 0.9),
    -0.1019334394em 0.6552568157em 7px rgba(175, 255, 0, 0.9),
    -0.4157756451em -0.0479125618em 7px rgba(172, 0, 255, 0.9),
    1.4918732458em 0.2163176513em 7px rgba(0, 101, 255, 0.9),
    0.8942164733em -0.44532588em 7px rgba(255, 7, 0, 0.9),
    0.5070751837em 0.2136107947em 7px rgba(0, 100, 255, 0.9),
    0.5197239922em -0.4900651677em 7px rgba(0, 255, 222, 0.9),
    0.1642391425em -0.3864923852em 7px rgba(255, 195, 0, 0.9),
    -0.1809697641em 1.1504693207em 7px rgba(0, 6, 255, 0.9),
    1.4454632449em -0.1410968065em 7px rgba(0, 176, 255, 0.9),
    2.0932277349em 2.0436638129em 7px rgba(255, 191, 0, 0.9),
    1.0491757133em -0.1863623247em 7px rgba(255, 0, 216, 0.9),
    0.3340573993em 0.4753916431em 7px rgba(255, 0, 98, 0.9),
    -0.4212096714em 1.2970168967em 7px rgba(0, 12, 255, 0.9),
    0.4388662752em 0.1065525272em 7px rgba(0, 255, 205, 0.9),
    0.143935602em 0.1903492748em 7px rgba(105, 255, 0, 0.9),
    -0.4384413416em 2.4619279125em 7px rgba(255, 0, 242, 0.9),
    2.4721214187em 2.2151371725em 7px rgba(0, 124, 255, 0.9),
    1.4876216144em 1.1106259968em 7px rgba(209, 255, 0, 0.9),
    -0.1699482252em 2.2127353379em 7px rgba(255, 177, 0, 0.9),
    0.2433591264em -0.3688567293em 7px rgba(0, 255, 87, 0.9),
    -0.3072459204em 2.2614195089em 7px rgba(0, 75, 255, 0.9),
    1.5172135294em 0.6534132889em 7px rgba(0, 255, 33, 0.9),
    0.5439348394em 1.3672246736em 7px rgba(0, 255, 213, 0.9),
    0.8117835042em 1.943135421em 7px rgba(168, 255, 0, 0.9),
    1.6805684536em 2.4594988225em 7px rgba(0, 255, 186, 0.9),
    1.3683227627em 1.4825087526em 7px rgba(145, 255, 0, 0.9),
    0.128744351em 2.1137217912em 7px rgba(255, 0, 18, 0.9),
    1.9355255111em 1.2780784295em 7px rgba(0, 255, 38, 0.9),
    0.3899099342em 2.1528005405em 7px rgba(0, 169, 255, 0.9),
    1.6248605904em 0.9122010224em 7px rgba(255, 193, 0, 0.9),
    0.8081956684em 0.3474904407em 7px rgba(0, 255, 186, 0.9),
    0.0655412847em 1.2891821367em 7px rgba(255, 0, 93, 0.9),
    -0.3024576418em 1.0022177854em 7px rgba(255, 138, 0, 0.9),
    1.7895719238em 1.7109171425em 7px rgba(237, 0, 255, 0.9),
    1.496329463em 1.921766417em 7px rgba(140, 255, 0, 0.9),
    1.002292198em 1.3820531779em 7px rgba(255, 196, 0, 0.9);
  animation-duration: 86s;
  animation-delay: -27s;
}

.bg-a::after {
  text-shadow: 2.0482299654em 0.2330989668em 7px rgba(0, 249, 255, 0.9),
    0.5988684477em 1.22774326em 7px rgba(0, 255, 20, 0.9),
    0.0545620536em 1.5457622465em 7px rgba(255, 0, 56, 0.9),
    1.4753235363em 0.2279530914em 7px rgba(4, 255, 0, 0.9),
    0.2213312412em -0.3260925751em 7px rgba(255, 0, 228, 0.9),
    0.4261215668em 0.2984252537em 7px rgba(0, 255, 247, 0.9),
    2.1437825641em 0.8598749347em 7px rgba(0, 142, 255, 0.9),
    -0.20589149em 1.502525495em 7px rgba(255, 39, 0, 0.9),
    0.3725307818em 0.8147273913em 7px rgba(104, 0, 255, 0.9),
    2.0105752117em 2.1504997724em 7px rgba(255, 0, 243, 0.9),
    -0.4438112282em 0.7255076401em 7px rgba(255, 0, 20, 0.9),
    -0.2621672743em 1.2385118558em 7px rgba(255, 0, 186, 0.9),
    0.2597704666em -0.342645999em 7px rgba(201, 0, 255, 0.9),
    -0.1226336197em 1.3212926858em 7px rgba(0, 255, 24, 0.9),
    1.3889465526em 1.9010080836em 7px rgba(255, 156, 0, 0.9),
    1.8046005028em 1.3068076139em 7px rgba(143, 0, 255, 0.9),
    0.3090537007em 2.0452548395em 7px rgba(77, 0, 255, 0.9),
    0.4614221705em 1.8836541215em 7px rgba(60, 255, 0, 0.9),
    2.4915419208em -0.2573878903em 7px rgba(0, 255, 209, 0.9),
    0.8847544567em 0.0284760493em 7px rgba(0, 255, 101, 0.9),
    0.2241311543em 1.0056250779em 7px rgba(255, 0, 106, 0.9),
    1.6558293762em 0.8006876286em 7px rgba(0, 255, 26, 0.9),
    2.1601966009em 0.0988462703em 7px rgba(255, 0, 210, 0.9),
    1.8736581132em -0.1590053877em 7px rgba(0, 142, 255, 0.9),
    1.5494401917em 0.3284590765em 7px rgba(0, 34, 255, 0.9),
    0.908090211em 0.4371021657em 7px rgba(121, 0, 255, 0.9),
    0.7423368476em 0.6730575647em 7px rgba(222, 0, 255, 0.9),
    1.0863496687em 0.959631039em 7px rgba(0, 235, 255, 0.9),
    1.2594212581em 0.2636150107em 7px rgba(255, 0, 182, 0.9),
    0.3407358775em 2.0222286374em 7px rgba(255, 109, 0, 0.9),
    2.1149535544em 0.575713726em 7px rgba(255, 0, 143, 0.9),
    2.2900518298em 0.2603055038em 7px rgba(245, 255, 0, 0.9),
    2.1981858758em 0.6004508466em 7px rgba(0, 255, 126, 0.9),
    1.1060279887em -0.2349416159em 7px rgba(0, 55, 255, 0.9),
    -0.4667024465em 2.096885619em 7px rgba(255, 0, 199, 0.9),
    1.2908121141em 1.1292634497em 7px rgba(255, 169, 0, 0.9),
    2.1492187232em 1.1823374431em 7px rgba(176, 0, 255, 0.9),
    1.3909726985em 1.2688521141em 7px rgba(62, 255, 0, 0.9),
    2.3292091527em 1.8684686816em 7px rgba(0, 255, 230, 0.9),
    -0.3470460783em 0.4065209267em 7px rgba(255, 138, 0, 0.9),
    2.1066002307em 0.3708480043em 7px rgba(255, 17, 0, 0.9);
  animation-duration: 83s;
  animation-delay: -32s;
}

@keyframes move {
  from {
    transform: rotate(180deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}
